body {
    background-color:  #fcb3b3;
}

.box {
    /* height: 600px; */
    padding: 10px;
    color: black;
    background: white;
    margin-top: 30px;
    margin-bottom: 30px;
    /*width: 500px; */
    margin-left: auto;
    margin-right: auto;
}

h4.center {
    /* color: navy;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700; */
    text-align: center;
}
