<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Find An Awesome Deal!</a></p>
    </div>

    <!-- Put section 1 mars News here -->
    <div class="row" id="mars news">
      <div class="col-md-12">
        <h2><b>Latest Mars News</b></h2>
        <h4 class="heading"><b>{{mars.title}}</b></h4>
        <small>{{mars.paragraph}}</small>
      </div>
    </div>

    <!-- Put sections 2, 3, & 4 in a row here
         first column is the featured image
         second column has 2 rows, curent Mars weather first, the
         the Mars facts table second -->
    <div class="row">
      <!-- Mars featured image here -->
      <div class="col-md-9">

        <!-- **replace w/ actual Header, image, formating, styling, etc.-->

      </div>
      <!-- weather and facts column -->
      <div class="col-md-3">
        <!-- First row for weather tweet -->
        <div class="row">
          
          <!-- **replace w/ col? Header, tweet info, styling, etc.-->

        </div>
        <!-- Second row for facts data table -->
        <div class="row">

          <!-- **replace w/ col? Header, facts info, styling, etc.-->

        </div>

      </div>

    </div>
    <!-- Put section 5 Mars hemispheres in a row here -->
    <div class="row">

      <!-- **replace w/ Header, grid for pics, styling, etc.-->

    </div>
  
  </div>
</body>

</html>

